.header {
    margin: 48px 0;

    &__title {
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
        font-size: 58px;
        color: #111;
    }
}

.site-nav {
    font-size: 20px;
}

.page-link {
    padding: 0 16px 0 0;
}
